#confirm-create {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    background-color: var(--butt_bg);
    padding: 0.4em;
}

.create-mode {
    background-color: rgba(0, 0, 0, 0.466) !important;
    color:rgb(255, 255, 255)
}

#description {
    width: calc(100% - 1em);
    height: calc(100% - 7.3em);
    outline: none;
    border: none;
    padding: 0.5em;
}